<form action="/cart/<%= productId %>" method="POST">
    <button class="btn" type="submit">Add to Cart</button>
    <!-- Csrf Protection -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>